---
import { Counter } from "@components/Counter";
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
import Title from "@components/shared/Title.astro";
import Layout from "@layouts/Layout.astro";


---

<Layout title="Favorites">
  <Title>Favoritos</Title>
  
  
  <!-- <Counter client:load /> -->
   <FavoritePokemons client:only="solid-js" />

</Layout>